<script type="text/javascript">
//  document.getElementById('btn').onclick = function() {
//    var val = document.getElementById('imagename').value,
//        src = 'http://webpage.com/images/' + val +'.png',
//        img = document.createElement('img');
//
//    img.src = src;
//    document.body.appendChild(img);
//  }
</script>
<body>
  <%= form_for(@player, remote: true)  do |f| %>
      <%= f.text_field :id, autofocus: true, class: 'title-field pull-left' %><br><br>
      <%= f.submit 'Generate Player Information', :class => 'btn btn-primary' %>
  <% end %>

  <div id="your_form_id" class="your_form_id">
    <!-- form div -->
  </div>
</body>